{% extends "admin/base_site.html" %}
{% load i18n static admin_modify grp_tags %}
{% block bodyclass %}grp-change-form{% endblock %}

{% block extrastyle %}
    <link href="../static/custom_resource/css/summernote/summernote-lite.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block extrahead %}
    <script src="../static/custom_resource/js/summernote/summernote-lite.js" type="text/javascript"></script>
    {% comment %} <script type="text/javascript" charset="utf-8">
        (function($) {
            $(document).ready(function() {
                Your code goes in here
            });
        })(grp.jQuery);
    </script> {% endcomment %}
{% endblock %}

